
.container {

}

.row {
	display: inline-block;
}

.card {
	display: inline-block;
	vertical-align: top;
	min-height: 50px; 
	background: #888;
	width: 300px;
	margin-right: 10px;
	padding: 10px;
}

.card_header {
	padding-left: 10px;
	color: white;
}

.task {
	height: 100px;
	background: blue;
	margin-top: 10px;
	border-radius: 5px;
}

.task:nth-child(2) {
	background: green;
}

.add_task {
	width: 60px;
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
	background: red;
}

.create_new {
	display: inline-block;
	vertical-align: top;
}









.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}