<!DOCTYPE html>
<html>
<head>
	<title>Proman</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script src="static/js/main.js"></script>
</head>
<body>
	<h1>The Mighty Morphin Flower Arrangers</h1>
	
	<div class="container">
		
		<div class="row">
			<div class="card">
				<div class="card_header">
					<p id="todo">To do</p>
				</div>
				<div class="card_content" id="card_content">
				
				</div>
				<p class="add_task" id="add_task">add task</p>
			</div>
		</div>
	

		<div class="create_new">
			<button>create new card</button>
		</div>

	</div>



</html>







