<!DOCTYPE html>
<html>
<head>
	<title>Proman</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script src="static/js/main.js"></script>
</head>
<body>
	<div class="nav">
		<p class="the_mmf">The Mighty Morphin Flower Arrangers</p>
	</div>
	
	<div class="container">
		
		<div class="row">

			<div class="card" data-order="1">
				<div class="card_header">
					<span class="circle"></span>
					<p class="title" contenteditable>To do</p>
				</div>
				<div class="card_content drag_container" id="card_content">
					<div class="task"> <p contenteditable="true"; onclick='$(this).focus();'>task1</p></div>
				</div>
				<p class="add_task initial" id="add_task">add task ...</p>
			</div>

			<div class="card" data-order="2">
				<div class="card_header">
					<span class="circle"></span>
					<p class="title" contenteditable>In progress</p>
				</div>
				<div class="card_content drag_container" id="card_content">
					
				</div>
				<p class="add_task initial" id="add_task">add task ...</p>
			</div>

			<div class="card" data-order="3">
				<div class="card_header">
					<span class="circle"></span>
					<p class="title" contenteditable>Review</p>
				</div>
				<div class="card_content drag_container" id="card_content">
					
				</div>
				<p class="add_task initial" id="add_task">add task ...</p>
			</div>

			<div class="card" data-order="4">
				<div class="card_header">
					<span class="circle"></span>
					<p class="title" contenteditable>Done</p>
				</div>
				<div class="card_content drag_container" id="card_content">
					
				</div>
				<p class="add_task" id="add_task">add task ...</p>
			</div>
		</div>
	

		<div class="create_new">
			<p>create new card<p>
		</div>

	</div>
	
	<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/dragula.min.js'></script>

</body>
</html>







